body {
    background: #1c1c1c;
}

#excurzone-target {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(4, 25%);
    grid-gap: 3px;
}

.grid > div {
    border: 1px solid #fff;
    height: 25%;
}
